
@{
    ViewData["Title"] = "WebParking | Controlador";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

</head>
<body>
    <h1>Controlador</h1>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Controlador</h3>

        <label for="username">Usuário</label>
        <input type="text" placeholder="Informe seu usuário" id="username">

        <label for="password">Senha</label>
        <input type="password" placeholder="Informe sua senha" id="password">

        <button>Logar</button>
            </form>
</body>
</html>



